<p id="notice"><%= notice %></p>

<h1>Listing Component Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @component_statuses.each do |component_status| %>
      <tr>
        <td><%= component_status.name %></td>
        <td><%= component_status.description %></td>
        <td><%= component_status.color %></td>
        <td><%= link_to 'Show', component_status %></td>
        <td><%= link_to 'Edit', edit_component_status_path(component_status) %></td>
        <td><%= link_to 'Destroy', component_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component status', new_component_status_path %>
